<!DOCTYPE html>
<html>
<head>
  <title>YetAnotherUrlShortener</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='menu'>
  <%= link_to t('shorten_it'), root_path %>

  <% if @current_user.authenticated? %>
    <%= link_to t('dashboard'), manage_path %>
    <%= link_to t('logout'), logout_path %>
    <p>Hello, <%= @current_user.name %></p>
  <% else %>
    <%= link_to t('sign_in'), sign_in_path %>
    <%= link_to t('sign_up'), sign_up_path %>
  <% end %>
</div>

<% flash.each do |name, msg| %>
  <p class=<%= name %>><%= msg %></div>
<% end %>

<%= yield %>

</body>
</html>
