<!DOCTYPE html>
<html>
<head>
  <title>YetAnotherUrlShortener</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to t('home'), root_path %>

<% flash.each do |name, msg| %>
  <div class=<%= name %>><%= msg %></div>
<% end %>

<% if @current_user.authenticated? %>
  Hello, <%= @current_user.name %>
  <%= link_to t('logout'), logout_path %>
  <%= link_to t('dashboard'), manage_path %>
<% else %>
  <%= link_to t('sign_up'), sign_up_path %>
  <%= link_to t('sign_in'), sign_in_path %>
<% end %>

<%= yield %>

</body>
</html>
